Fantooface/Service References/FantoofaceService/TutorialService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FantoofaceServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FantoofaceServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTutorialDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TutorialDataContract" nillable="true" type="tns:TutorialDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTutorialDataContract" nillable="true" type="tns:ArrayOfTutorialDataContract" />
  <xs:complexType name="TutorialDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Categoryname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TutorialDataContract" nillable="true" type="tns:TutorialDataContract" />
</xs:schema>